.section-component {
  padding: 5vw 5vw;
  display: flex;
  flex-flow: column;
}

.section-component h4 {
  font-size: 14px;
  font-size: 400;
  color: #c1844d;
  margin-bottom: 1vw;
  text-decoration: underline;
  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.section-component div {
  display: flex;
  justify-content: space-between;
}

.section-component div p {
  font-size: 26px;
  font-weight: 600;
  color: #293037;
  width: 527px;
  margin-bottom: 10px;
  @media (max-width: 1086px) {
    width: 100%;
  }
  @media (max-width: 640px) {
    font-size: 19px;
  }
}

.section-component div small {
  font-size: 16px;
  color: #b4b4b4;
  width: 450px;
  @media (max-width: 1086px) {
    width: 100%;
  }
  @media (max-width: 640px) {
    font-size: 15px;
  }
}

.info-para {
  flex-wrap: wrap;
}
